input {
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input[type=submit], input[type=button]{	
	background-color:#444;
	height:3vw;
	padding:0px 1vw;
	box-shadow: 1px 3px 3px #EEEEEE;
	color:white;
	font-size:2vw;
	border-radius: 1vw;
	border:1px;
}
input[type=submit]:hover,input[type=reset]:hover {
	background-color:#ff8000;
	color:white;
}
textarea  {
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
a {
  	  	text-decoration: none;
  	  	color: red;
}
 table {
    width: 50%;
    border: 1px solid #444444;
    border-collapse: collapse;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
  }
  th, td {
  font-size:2vw;
    border: 1px solid #444444;
 }


/*
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*/