.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF8000;
    color: white;
    padding: 12px 12px;
    font-size: 20px;
}
.divide{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    margin-bottom: auto;
}
.divide .harf{
    flex:1;
    text-align: center;
    margin: 10px 40px;
}
.navbar_logo h1{
    color: white;
    font-size: 28px;
    padding: 6px;
    padding-left: 50px;
    text-decoration: none;
}

.navbar_logo{
    font-size: 28px;
    font-weight: bolder;
    padding: 10px;
}

/* menu */
.navbar_menu{
    display : flex;
}

.navbar_menu li{
    list-style: none;
    padding: 18px;
}

.navbar_menu a{
    text-decoration: none;
    color: white;
}

.navbar_menu li:hover{
    background-color: #CF8030;
    border-radius: 4px;;
}

/* icon */
.navbar_icon{
    display: flex;
    padding-right: 200px;
}

.navbar_icon li{
    padding: 8px;
    list-style: none;
    font-size: 18px;
}

.navbar_icon a{
    text-decoration: none;
    color: white;
}

.navbar_icon li:hover{
    background-color: #CF8030;
    border-radius: 4px;;
}





input[id="menuicon"] {
	display:none;
}

.area_desc {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}

.area_desc a{
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*메뉴버튼*/
.menubtn {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor:pointer;
}

.menubtn span {
	display: block;
	position: absolute;
	width: 80%;
	height: 5px;
	border-radius: 30px;
	background: white;
	transition: all .35s;
}

.menubtn span:nth-child(1){
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}

.menubtn span:nth-child(2){
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menubtn span:nth-child(3){
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
}


.sidebar {
	width: 300px;
	height: 100%;
	background: #222;
	position: fixed;
	top: 0;
	right: -300px;
	z-index: 1;
	transition: .35s;
}

/* 체크 변환값 */
input[id="menuicon"]:checked ~ .menubtn {z-index:2;}



input[id="menuicon"]:checked ~ .menubtn span:nth-child(1){
	top:50%;
	left:50%;
	transform:translate(-50%, -50%) rotate(135deg);
	
}

input[id="menuicon"]:checked ~ .menubtn span:nth-child(2){
	left:50%;
	transform:translate(-50%, -50%) scale(2);
	opacity:0;
}

input[id="menuicon"]:checked ~ .menubtn span:nth-child(3){
	bottom:50%;
	left:50%;
	transform:translate(-50%, 50%) rotate(-135deg);
}

input[id="menuicon"]:checked ~ .sidebar{
	right:0;
}





#expand-menu { /* 체크박스 폼 요소 감춤 */
    display: none;
}
#expand-menu:checked ~ ul { /* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
    display: block;
    height: auto;
}

.menu {
/*     display: block;
    width: 200px;
    background-color: white;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box; */
    overflow: hidden; /* 반응형 애니메이션용 */
    transition: all 0.5s ease; /* 반응형 애니메이션 */
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 35px;
    width:200px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.sub_menu{
	padding-top:5px;
 	font-size: 15px;
 	color: #C0C0C0;
}

.sub_menu:hover{
	
 	color: #000;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.menu .main-menu {
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
   /* padding: 0 0 0 50px; 아이콘과 텍스트 사이 여백 */
}


/* 푸터 */
html, body {
  margin: 0;
  padding: 0;
}

#wrap {
    min-height: 100%;
    position: relative;
}

section {
  padding-bottom: 105px;
}

footer {
  background-color: #444;
  width: 100%;
  height: 150px;
  bottom: 0px;
  position: absolute;
  border-top: 1px solid #c4c4c4;
  padding-top: 15px;
  color: white;
  font-size: 11px;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #444; font-size: 11px;
}

footer a:visited {
  color: #444;
}

footer p {
  margin-top: 5px; 
  margin-bottom: 0px;
  margin-left: 50px;   
}

footer p span {
  display: inline-block;
  margin-left: 20px;
  margin-top: 3px; 
  margin-bottom: 3px;  
}

.brand{
	font-size: 15px;
}

